<h1>Aktualizuj profil</h1>

<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Aktualizuj" %>
<% end %>

<br /><%= link_to "Mój profil", account_path %>

